{% extends "base.html" %}


{% block app_content %}

<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
<div class="form-group "><label class="control-label" for="selected">{{ form.ein.label }}</label>
        
            {{ form.ein(rows=12,size=12) }}
</div>
{{ form.submit3() }} {{ form.submit2() }}
<div class="form-group "><label class="control-label" for="selected">{{ form.selected.label }}</label>

    {{ form.selected(rows=12,size=12) }}
</div>


           

            

    <p>{{ form.submit() }} </p>
</form>
{% endblock %}