{% extends "base.html" %}


{% block app_content %}

<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <table>
        <tr><th>Verfügrbare</th><th></th><th>Eingetragen</th></tr>
        <tr>
            <!-- Erste Spalte --><td><p>{{ form.ein(rows=12) }}</p></td>
        
            <!-- Zweite Spalte --><td>{{ form.submit3() }} {{ form.submit2() }}</td>

            <!-- Dritte Spalte --><td><p>{{ form.selected(rows=12) }}</p></td>

        </tr>

    </table>
    <p>{{ form.submit() }} </p>
</form>
{% endblock %}