{% extends "base.html" %}


{% block app_content %}

    {% if label %}<h2>{{label}}</h2>{% endif %}
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}

        <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ form.ein.label }}</th>
                <th>Auswahl</th>
                <th>{{ form.selected.label }}</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{ form.ein(size=20) }}</td>
                  <td>{{ form.submit3() }} {{ form.submit2() }}</td>
                  <td>{{ form.selected(rows=20,size=12) }}</td>
                </tr>
            </tbody>
        </table>
    <p>{{ form.submit() }} </p>
</form>
{% endblock %}